- name: Install kubectl
  apt:
    name: kubectl
    state: present
    update_cache: yes

- name: Install helm
  shell: |
    curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  args:
    creates: /usr/local/bin/helm
